<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HealthCoin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/visualizer">Visualizer</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Balance: <%= balance %> HC</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <h2>About</h2>
    <p> HealthCoin is a twist on cryptocurrency, integrating healthcare data analysis into crypto-mining.  Instead of solving the SHA-256 Hash function, miners will compute useful information about health data such identifying possible cancer mutations in gene sequences.  HealthCoin uses randomization, problem partitioning, and an optimized voting structure to prevent fraudulent computations.  Furthermore, the results of the genome comparison are easily verifiable, yet difficult to compute.  The economic structure for HealthCoin is based off of payment for genome analysis.  This covers the transaction fees, making the use of HealthCoin for distribution purposes highly efficient.</p>

    <h2>Why?</h2>
    <p> One of the biggest critiques of Bitcoin is the energy consumed in mining -- Bitcoin's daily energy consumption is equivalent to Ireland's daily use. This energy consumed isn't doing any useful work, it's simply computing the SHA-256 function.  Our twist is to create a hard, yet useful problem involving genomic sequencing in terms of identifying possible cancer mutations.</p>

    <h2>How to get started</h2>
    <p>Create an account and upload a genome.  This sequence can be the entire genome or even a subsection.  Our algorithms will automatically match up the starting points (this plays into the difficulty of the problem).</p>

    <script>
      feather.replace()
    </script>
  </body>
</html>
